<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/isabe/IdeaProjects/testNG">
        <groups>
            <run>
                <exclude name="Test"/>
            </run>
        </groups>
        <classes>
                <class name = "TestCalculator"/>
        </classes>

    </test>
</suite>